<style>
input.ioButton
{
	width: 50px;
	height: 50px;
	border-radius: 9px;
	border: 2px solid gray;
}

input.ioButton:hover
{
	box-shadow: 0px 0px 10px 5px #ffffff;
}

@font-face
{
	font-family: 'Corbert';
	src: url('images/corbert-regular.otf');
}

@font-face
{
	font-family: 'OpenSans';
	src: url( 'images/OpenSans-Light.ttf' );
}

@font-face
{
	font-family: 'OpenSans';
	src: url( 'images/OpenSans-ExtraBold.ttf' );
	font-weight: bold;
}

h2, body
{
	font-family: "OpenSans", serif;
	color: white;
}


.pairWrapper
{
	margin-top: 10px;
}
.pairWrapperLeft
{
	margin-right:10px;
	vertical-align:middle;
	display:inline-block;
}
.pairWrapperRight
{
	vertical-align:middle;
	display:inline-block;
}

.bordered
{
	border-radius: 10px;
	border: 2px solid white;
}

img
{
	position: relative;
	clear: both;
	float: left;
	margin: 10px 10px;
}

#specials > img
{
	margin: 5px 5px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 2px #ffffff inset;
}

#bubble
{
	width: 50px;
	height: 50px;

	border-radius: 50%;
	box-shadow: 0px 0px 0px 2px #ffffff inset;
}

input[type="file"]
{
	visibility: hidden;
	width: 0;
	height: 0;
	margin-left: 2em;
}

.modalDialog
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba( 0,0,0,0.8 );
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;

	text-align: center;
}

.modalDialog:target
{
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div.bordered
{
	width: 400px;
	height: 400px;
	position: relative;
	margin: 10% auto 10px;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #333;
}

.dialogOpen #modal
{
	opacity: 1;
	pointer-events: auto;
}

ul
{
	list-style: decimal-leading-zero;
	text-align: left;
}

.scrollbar-measure
{
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

</style>

<head>
	<title>Bubble Heroes Level Designer</title>
</head>

<body style="background-color:#333333" onclick="if( location.href.indexOf('modal') > -1 ){ location.href='#close'; }">

<div style="margin-top:20px;margin-left:20px;">
	<div id="grid" class="bordered" style="width:400px;height:800px;overflow-y:scroll;overflow-x:hidden;display:inline-block;vertical-align:top"></div>

	<div style="display:inline-block;margin-left:20px;">
	
		<div id="bubbles" class="bordered" style="display:inline-block;margin-right:10px"></div>
		<div style="display:inline-block;vertical-align:top;">
		<div id="starfishContainer" class="bordered" style="display:inline-block;">
			<img src="images/starfish.png" type="starfish" draggable="true" ondragstart="event.target.type='starfish';bubbleDragStart(event)">
		</div>
		<div id="pivotContainer" class="bordered" style="display:inline-block;margin-left:10px">
			<img src="images/bubble_clear.png" type="clear" draggable="true" ondragstart="event.target.type='clear';bubbleDragStart(event)" width="50" height="50">
		</div>
		<div style="margin:10px 0"/>
		<div id="save1Container" class="bordered" style="display:inline-block;margin-left:0px">
			<img src="images/save_character_1x.png" type="clear" draggable="true" ondragstart="event.target.type='save1';bubbleDragStart(event)" width="50" height="50">
		</div>
		<div id="borisContainer" class="bordered" style="display:inline-block;margin-left:10px">
			<img src="images/boris_bubble_placeholder.png" type="boris" draggable="true" ondragstart="event.target.type='boris';bubbleDragStart(event)" width="100" height="100">
		</div>
		<div style="margin:10px 0"/>
		<div id="save3Container" class="bordered" style="display:inline-block">
			<img src="images/save_character_3x.png" type="clear" draggable="true" ondragstart="event.target.type='save3';bubbleDragStart(event)" width="100" height="100">
		</div>
		<div id="save7Container" class="bordered" style="display:inline-block">
			<img src="images/save_character_7x.png" type="clear" draggable="true" ondragstart="event.target.type='save7';bubbleDragStart(event)" width="100" height="100">
		</div>
		</div>
		</div>
	</div>
	<div style="margin:20px 0">
	<div id="specials" class="bordered" style="display:inline-block;"></div>
	<div style="display:inline-block;vertical-align:top;margin-left:10px">
		<div style="margin:25px auto">Bomb</div>
		<div style="margin:30px auto">Row Clearer</div>
		<div style="margin:40px auto">Extra Moves</div>
		<div style="margin:40px auto">Enchanted Coral</div>
		<div style="margin:40px auto">Ink</div>
		<div style="margin:30px auto">Blocker</div>
		<div style="margin:30px auto">Ink & Blocker</div>
		<div style="margin:35px auto">Flounder</div>
		<div style="margin:40px auto">Stone</div>
		<div style="margin:40px auto">Whirpool</div>
	</div>
</div>


<div id="controls" style="z-index:5;top:-10px;right:100px;position:absolute;">
	<h1>Bubble Heroes Level Designer</h1>

	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<input type="image" src="images/appbar.page.add.png" id="newButton" class="ioButton" name="new" onclick="onclickButton(this)">
		</div>
		<div class="pairWrapperRight">
			NEW
		</div>
	</div>
	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<input type="image" src="images/appbar.disk.download.png" id="saveButton" class="ioButton" name="save" onclick="onclickButton(this)">
		</div>
		<div class="pairWrapperRight">
			SAVE
		</div>
	</div>
	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<input type="image" src="images/appbar.disk.upload.png" id="loadButton" class="ioButton" name="load" onclick="onclickButton(this)">
		</div>
		<div class="pairWrapperRight">
			RESTORE
		</div>

		<div class="pairWrapperRight">
			<input style="margin-left:10px" type="text" id="renameBox" onchange="onChangeName(this)" />
		</div>
	</div>
	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<input type="image" src="images/appbar.page.hidden.png" id="resetButton" class="ioButton" name="reset" onclick="onclickButton(this)">
		</div>
		<div class="pairWrapperRight">
			CLEAR
		</div>
	</div>
	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<div class="pairWrapperLeft">
				<input type="image" src="images/appbar.undo.png" id="undoButton" class="ioButton" name="undo" onclick="onclickButton(this)">
			</div>
			<div class="pairWrapperRight">
				UNDO
			</div>
		</div>

		<div class="pairWrapperRight">
			<div class="pairWrapperLeft">
				<input type="image" src="images/appbar.redo.png" id="redoButton" class="ioButton" name="redo" onclick="onclickButton(this)">
			</div>
			<div class="pairWrapperRight">
				REDO
			</div>
		</div>
	</div>

	<div style="height:50px"></div>

	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<select id="fileSelect" onchange="onFileSelectChanged();" style="margin-left:-10px"></select>
		</div>
		<div class="pairWrapperRight">
			ALL FILES
		</div>
	</div>

	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<input type="image" src="images/appbar.arrow.up.down.png" id="orderButton" class="ioButton" name="order" onclick="event.stopPropagation();location.href='#modal'">
		</div>
		<div class="pairWrapperRight">
			REORDER
		</div>
	</div>

	<div style="height:50px"></div>

	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<input type="image" src="images/appbar.radioactive.png" id="destroyButton" class="ioButton" name="destroy" onclick="onclickButton(this)">
		</div>
		<div class="pairWrapperRight">
			!! DESTROY !!
		</div>
	</div>
</div>

<div id="output" style="z-index:5;bottom:50px;right:100px;position:absolute;">
	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<input type="image" src="images/appbar.rocket.rotated.45.png" id="exportButton" class="ioButton" name="export" onclick="onclickButton(this)">
		</div>
		<div class="pairWrapperRight">
			<a style="vertical-align:middle;">EXPORT</a>
		</div>
		<div class="pairWrapperLeft" style="margin-left:20px">
			<input type="image" src="images/appbar.arrow.collapsed.png" id="importButton" class="ioButton" name="import" onclick="onclickButton(this)">
		</div>
		<div class="pairWrapperRight">
			<a style="vertical-align:middle;">IMPORT</a>
		</div>
	<div>
</div>

<div id="modal" class="modalDialog">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<div class="bordered" style="overflow:scroll">
		<ul class="sortable" id="levelList">
		</ul>
		<script src="jquery.sortable.min.js">
		    $('.sortable').sortable();
		</script>
	</div>
	<div class="pairWrapper">
		<div class="pairWrapperLeft">
			<input type="image" src="images/appbar.checkmark.png" id="commitButton" class="ioButton" name="commit" onclick="onclickButton(this)">
		</div>
		<div class="pairWrapperRight">
		SUBMIT
		</div>
	</div>
</div>

<input type="file" id="fileChooser" onchange="handleFile(this.files[0])"/>

<script src="files.js"></script>
<script src="tool.js"></script>
